html{
    overflow: auto;
}

body{
    margin: 0 auto;
    overflow: hidden;
    min-width: 960px;
}

#container{    
    padding: 0;
    width: 100%;
}

section{
    /*min-height: 600px;*/
}

#home{
    background:url(../img/frost-blue.jpg) repeat;
}
#about{
    background:url(../img/frost-white.jpg) repeat;
}
#ref{
    background:url(../img/frost-green.jpg) repeat;
}